/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
:root {
  --main-color: #ffc0cb;
  --second-color: #000;
  --text-color: #ffe4e1;
}
header {
	height:70px;
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
	padding-left: 20px;
	transition: 0.2s linear;
	z-index: 1000;
}
header h1 {
	display: inline-block;
	float: left;
	padding:10px 20px;
	text-transform: uppercase;
}
header h1 a {
	transition: .3s;
}
header h1 a:hover {
	color: #F84744;
}
header ul {
	float: right;
}
header ul li {
	padding:25px;
	display: inline-block;
}
header ul li a {
	transition: .3s;
}
header ul li a:hover {
	color: #F84744;
}
a {
	text-decoration: none;
}
.container {
	width:90%;
	margin:0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	padding: 10px;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width:300px;
	background-color: rgb(10,186,181, .9);
	z-index: 9999;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding:25px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: #000;
}
#check:checked ~ .sidebar {
	left: 0;
}
.logo {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 600;
	color: var(--text-color);
}
.logo img {
	width: 60px;
	padding-left: 160px;
}
.home {
	width: 95%;
	padding: 35px 35px;
	min-height: 92vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: var(--main-color);
	gap: 1rem;
	cursor: pointer;
}
.home-text {
	flex: 1 1 30rem;
	padding-left: 60px;
	padding-top: 70px;
	cursor: pointer;
}
.home-img {
	flex: 1 1 20rem;
	cursor: pointer;
}
.home-img {
	flex: 1 1 17rem;
}
.home-img img {
	animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(-0px, -11px);
  }
  100% {
    transform: translate(-11px, 0);
  }
}
.home-text span {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 200;
	color: var(--second-color);
	cursor: pointer;
}
.home-text h1 {
	font-size: 3rem;
	color: var(--second-color);
	font-weight: 200;
	cursor: pointer;
}
.home-text h2 {
	font-size: 2rem;
	font-weight: 200;
	color: var(--second-color);
	text-transform: uppercase;
	margin: 0.5rem 0 1.4rem;
	cursor: pointer;
}
.btn {
	padding: 5px 15px;
	border: 2px solid var(--second-color);
	border-radius: 40px;
	color: var(--second-color);
	font-weight: 500;
	text-decoration: none;
}
.btn:hover {
	color: #fff;
	background: var(--second-color);
}
.about {
	width: 95%;
	padding: 35px 35px;
	min-height: 95vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: var(--text-color);
	gap: 1rem;
	cursor: pointer;
}
.about-img {
	flex: 1 1 10rem;
	width: 20px;
	padding-right: 210px;
	padding-left: 100px;
}
.about-text {
	flex: 1 1 30rem;
	font-size: 1.5rem;
	width: 40px;
	margin: auto;
	padding-right: 300px;
	padding-top: 100px;
}
.about-text h2 {
	font-size: 2rem;
	color: var(--second-color);
}
.about-text p {
	margin: 0.5rem 0 1rem;
	text-align: justify;
}
.about-img {
	flex: 1 1 17rem;
}
.about-img img {
	animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(-0px, -11px);
  }
  100% {
    transform: translate(-11px, 0);
  }
}
.taskheading {
	padding: 80px;
	text-align: center;
	text-transform: uppercase;
}
.taskheading span {
	font-size: 1rem;
	font-weight: 600;
	color: var(--second-color);
}
.taskheading h1 {
	font-size: 2rem;
	color: var(--second-color);
}
.task-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 5rem;
}
.task-container .box {
	flex: 1 1 10rem;
	background: var(--main-color);
	padding: 20px;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
	border-radius: 0.5rem;
}
.task-container .box .box-img {
	width: 150px;
	height: 150px;
	margin-top: -100px;
}
.task-container .box .box-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.finishingheading {
	padding: 70px;
	text-align: center;
	text-transform: uppercase;
}
.finishingheading span {
	font-size: 1rem;
	font-weight: 600;
	color: var(--second-color);
}
.finishingheading h1 {
	font-size: 2rem;
	color: var(--second-color);
}
.wrapper{
  max-width: 405px;
  padding: 28px 0 30px;
  margin: 137px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.finishing-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}
.finishing-input img{
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.finishing-input input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}
.finishing-input input:focus,
.finishing-input input.active{
  padding-left: 52px;
  border: 2px solid #3C87FF;
}
.finishing-input input::placeholder{
  color: #bfbfbf;
}
.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span{
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}
.filters span:first-child{
  margin-left: 0;
}
.filters span.active{
  color: #3C87FF;
}
.controls .clear-btn{
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
}
.clear-btn.active{
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:active{
  transform: scale(0.93);
}
.finishing-box {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
.finishing-box.overflow{
  overflow-y: auto;
  max-height: 300px;
}
.finishing-box::-webkit-scrollbar{
  width: 5px;
}
.finishing-box::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.finishing-box::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.finishing-box .finishing{
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}
.finishing-box .finishing:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.finishing-box .finishing label{
  display: flex;
  align-items: flex-start;
}
.finishing label input{
  margin-top: 7px;
  accent-color: #3C87FF;
}
.finishing label p{
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.finishing label p.checked{
  text-decoration: line-through;
}
.finishing-box .settings{
  position: relative;
}
.settings :where(i, li){
  cursor: pointer;
}
.settings .finishing-menu {
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.finishing-box .finishing:last-child .finishing-menu {
  bottom: 0;
  transform-origin: bottom right;
}
.finishing-box .finishing:first-child .finishing-menu{
  bottom: -65px;
  transform-origin: top right;
}
.finishing-menu.show{
  transform: scale(1);
}
.finishing-menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}
.finishing-menu li:last-child{
  margin-bottom: 0;
}
.settings li:hover{
  background: #f5f5f5;
}
.settings li i{
  padding-right: 8px;
}
@media (max-width: 400px) {
  body{
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .filters span{
    margin: 0 5px;
  }
  .finishing-input {
    padding: 0 20px;
  }
  .controls{
    padding: 18px 20px;
  }
  .finishing-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .finishing label input{
    margin-top: 4px;
  }
}
@media (max-width: 768px){
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
	.col-4 {
		width:50%;
	}
	.col-3 {
		width:100%;
	}
}